.searchgrid {
  display: grid;
  grid-template-columns: auto 650px auto;
  grid-template-areas: "left search right";
  height: 80px;
}

.search {
  height: 60px;
  background-color: #d3d2d7;
  border: 5px solid #ffffff;
}

.searchtext {
  font-family: sans-serif;
  font-size: 18px;
  color: #403f44;
  font-weight: bold;
  text-align: left;
  display: inline-block;
}

.searchfield {
  padding-left: 10px;
  font-family: sans-serif;
  font-size: 18px;
  color: #403f44;
  font-weight: bold;
  text-align: left;
}

.inputText {
  width: 40%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px 0px 0px 6px;
  box-sizing: border-box;
}

.inputButton {
  width: 20%;
  background-color: #eb1458;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  margin: 10px 0px;
  margin-right: 10px;
  border: 0px solid #eb1458;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}
